.w { width: 1200px; margin: 0 auto;}
.tonglan { min-width: 1200px; width: 100%;}
.w-big {
	min-width: 1200px;
	max-width: 1920px;
	width: 100%;
	margin: 0 auto;
}
.tonglan {
	min-width: 1200px;
	width: 100%;
}
.tou {
	position: relative;
	height: 70px;
	overflow: hidden;
}
.tou>a>img {
	position: absolute;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	font-size: 0;
}
.header {
	background-color: #2E2828;
}
/* 公共样式 */
ul.header-lft>li>a,.header-rgt>li>a {
	display: block;
	font-size: 12px;
	color: #AFAFAF;
	padding: 10px 10px;
}
ul.header-lft>li>a:hover,.header-rgt>li>a:hover {
	color: white;
}
.tr:hover>a {
	color:  #CB242B;
}
.tr:hover {
	background-color: white;
	color: #CB242B;
}
.header .tr>a:hover {
	color: #CB242B;
	background-color: #FFFFFF;
}
.rgt-nav-sub>li>a:hover,.lft-nav-sub>li>a:hover {
	color: #CB242B;
}
/* 客户服务等的二级菜单 */
.tr {
	position: relative;
}
.rgt-nav-sub,.lft-nav-sub {
	 border-bottom-right-radius: 10px;
	 border-bottom-left-radius: 10px;
	 display: none;
	 z-index: 100;
	 position: absolute;
	 top: 100%;
	 padding: 5px 0;
	 text-align: center;
}
.r1,.r3 {
	left: 0;
	width: 100%;
}
.tr:hover>.rgt-nav-sub,.tr:hover>.lft-nav-sub{
	display: block;
	background-color: #FFFFFF;
}
.r1>li>a,.r3>li>a {
	display: block;
	color: #999999;
	font-size: 13px;
	padding: 10px 10px;
}
.r2 {
	right: 0;
	font-size: 0;
}

/* 通栏左边 */
ul.header-lft>li {
	float: left;
}

/* 通栏右边 */
i.icon-downarrow {
	font-size: 12px;
	padding-left: 5px;
}
ul.header-rgt {
	float: right;
}
ul.header-rgt>li {
	float: left;
}

/* 菜单栏 */
.menu {
	margin-top: 20px;
	height: 50px;
	background-color: #FEFEFE;
}
.menu1 {
	width: 20%;
	float: left;
}
.menu1>img {
	width: 100%;
}
.menu>* {
	display: inline-block;
	vertical-align: middle;
}
.logo-nav-main {
	margin-left: 30px;
	float: left;
	width: 18%;
	margin-right: -20px;
}
.logo-nav-main>li{
	float: left;
	width: 50%;
	box-sizing: border-box;
	padding-right: 20px;
}
.logo-nav-main>li>a>img {
	width: 100%;
}
.logo-nav-sub>li {
	float: left;
	padding: 0 10px;
}
.logo-nav-sub>li>a {
	display: inline-block;
	font-size: 15px;
	color: black;
	line-height: 30px;
}
.logo-nav-main>li>a:hover {
	color: #CB242B;
}

/* 右边搜索框 */
.searchbox-wrapper {
	float: right;
	position: relative;
}
.searchbox-wrapper>.icon-search {
	position: absolute;
	top: 17%;
	right: 10px;
	font-size: 20px;
}
.searchbox {
	width: 220px;
	height: 30px;
	border: 1px solid darkgray;
	border-radius: 20px;
	background-color: #F0F0F0;
}
.searchbox-wrapper>input[type=text] {
	text-indent: 5em;
}
.place {font-size: 0;}
.place>ul {}
.place>ul>li {display: inline-block;
	font-size: 12px;
}
.place>ul>li>a {font-size: 12px;}
.detail .left,.right {
	float: left;
	width: 50%;
	margin-bottom: 60px;
}
.left {}
.display {
	width: 450px;
	height: 450px;
	
}
.display>img {
	width: 100%;
}
.phone-imgs-list-wrapper {
	position: relative;
	height: 80px;
}
.phone-imgs-list {
	margin: 0 auto;
	width: 80%;
	overflow: hidden;
}
.phone-imgs-list>ul {	
	width: 100%;
	white-space: nowrap;
	margin-top: 20px;
}
ul.phone-imgs>li {	
	display: inline-block;
	width: 20%;
	height: 100%;
	box-sizing: border-box;
	border: 1px solid transparent;
	text-align: center;
}
ul.phone-imgs>li>img {
	width: 80%;
}
.phone-imgs-list-wrapper>span.prev,.phone-imgs-list-wrapper>span.next {
	position: absolute;
	bottom: 0;
	width: 40px;
	height: 40px;
}
.phone-imgs-list-wrapper>span.prev {
	left: 0;
}
.phone-imgs-list-wrapper>span.next {
	right: 20px;
}

span.prev,span.next {
	display: block;
	width: 40px;
	height: 40px;
}
span.prev>input.prev, span.next>input.next {
	width: 40px;
	height: 40px;
	border-radius : 50%;
}

.phone-imgs-list>ul>li:hover {
	border: 1px solid red;
}
.right {}
.right>h2 { font-size: 21px; color: #3a3a3a;}
.niu {}
.niu>p.ping,.niu>p.shuoming {
	display: inline-block; font-size: 14px;
}
.niu>p.ping { color: red; margin-right: 10px;
	
}
.activity{ background-color:#f5f5f5;} 
.activity>span.price-wrapper {
	margin-left: 30px;
	font-size: 18px;
	font-weight: bold;
	color: #ca141d;
}
.activity>span.price-wrapper>span.price {
	
	font-size: 24px;
}
.promote {}
.promote>span.zengpin {
	margin: 0 5px 0 30px;
	color: red;
	padding: 0 5px;
	font-size: 12px;
	border: 1px solid red;
}
.promote>span.select {
	margin-left: 10px;
}
.space {}
.space>span.jifen {
	margin-left: 66px;
	color: red;
	padding: 0 5px;
	font-size: 12px;
	border: 1px solid red;
}
.space>span.dixian {
	margin-left: 10px;
}
.explain {}
.explain>span {	
	margin-left: 20px;
	padding: 0 5px;
	font-size: 12px;	
}
.bianma {}
.bianma>span {
	margin-left: 20px;
	padding: 0 5px;
	font-size: 12px;
}
.color {
	margin-top: 6px;
}
.color>span {
	display: inline-block;
	height: 40px;
	margin-left: 20px;
	padding: 0 12px;
	font-size: 12px;
	border:1px solid red;
}
.color>span>img {
	height: 30px;
}
.type {
	margin-top: 10px;
}
.type>.gb {
	padding: 0 12px;
	margin-left: 20px;
	display: inline-block;
	height: 38px;
	line-height: 38px;
	border:1px solid red;	
}
.recommend {margin-top: 10px;}
.recommend>span.mate {
	margin-left: 52px;	
}
.recommend>span {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	padding: 0 6px;
	font-size: 12px;
	background-color: #f5f5f5;
}
.yinxiang {margin-top: 10px;}
.yinxiang>span {
	margin-left: 88px;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	padding: 0 6px;
	font-size: 12px;
	background-color: #f5f5f5;
}
.buy {margin-top: 10px;}
.buy>span {
	margin-left: 14px;
	font-size: 12px;
	color: red;
}
.count-wrapper {
	
	margin-top: 15px;
	width: 68px;
	height: 44px;
}
.count-wrapper>.text {
	width: 42px;
	height:44px;
}
.count-wrapper>.text,.count-wrapper>.button {
	float: left;
}
.count-wrapper>.button {
	width: 26px;
}
.count-wrapper>.button>.increase {
	width: 24px;
	height: 22px;
}
.count-wrapper>.button>.decrease {
	width: 24px;
	height: 22px;
}
.count-wrapper>.text>input.count {
	width: 42px;
	text-align: center;
	height: 44px;
}
.count-wrapper>.button>.increase>.increase,.count-wrapper>.button>.decrease>input.decrease {
	width: 24px;
	height: 22px;
	text-align: center;
	cursor: pointer;
}
.car {margin-top: 15px;}
.count-wrapper,.car>.add,.car>.xiadan {
	float: left;
	vertical-align: middle;
}
.car>.add {
	padding: 0 12px;
	margin-left: 30px;
	display: inline-block;
	font-size: 12px;
	height: 46px;
	line-height: 46px;
	background-color:#fc600c;
	color: white;
}
.car>.xiadan {
	padding: 0 12px;
	margin-left: 40px;
	display: inline-block;
	font-size: 12px;
	height: 46px;
	line-height: 46px;
	background-color:#fc600c;	
}
.car a {
	color: white;
}
.account {display: none;}

ul.tab-title {
	margin: 20px 450px;
}
ul.tab-title>li {
	margin: 0 20px;
	font-size: 18px;
	display: inline-block;
	cursor: pointer;
}
ul.tab-title>li.active {	
	color: red;
	border-bottom: 1px solid red;
}
ul.tab-content { 
	font-size: 0;
}

ul.tab-content>li {
	display: none;
}
ul.tab-content>li img {
	width: 100%;
}
ul.tab-content>li.show {
	display: block;
}
p.jilu {
	text-align: center;
}
.liulan {

}
.liulan>ul {
	margin-left: 40px;
	
}
.liulan>ul>li {
	margin-left: 20px;
	width: 200px;
	box-sizing: border-box;
	display: inline-block;
	font-size: 0;
	
}
.liulan>ul>li>a {
	display: block;
}
.liulan>ul>li>a>img {
	text-align: center;
	width: 134px;}
.p1 {	
	font-size: 14px;
	height: 10px;
	margin-left: 5px;
	color:#3A3A3A;
}
.p2 {
	margin: 10px 30px 5px 30px;	
	color: #CA141D;
	font-size: 14px;
	height: 10px;
}
.touch {
	position: fixed;
	right: 5px;
	bottom: 10%;
	width: 38px;
	height: 220px;
}
.touch>ul {
	margin: 2px 1px;
	width: 100%;	
}
.touch>ul>li {
	margin-bottom: 18px; 
	text-align: center;
}	
.touch>ul>li>i {
	font-size: 26px;
	color: #cccccc;	
}
.top {
	position: fixed;
	right: 10px;
	bottom: 17%;
	
}
.top>span {
	text-align: center;
}
.top>span>i {
	font-size: 26px;
	color: #cccccc;
}
.footer {
	background-color: #F9F9F9;
	margin-top: 50px;
}
.footer-w {
	padding-top: 20px;
	overflow: hidden;
}
.footer-top-wrapper {
	font-size: 0;
	margin-right: -30px;
	padding-bottom: 20px;
	border-bottom: 1px solid #E9E9E9;
}
.footer-top-wrapper>li {
	float: left;
	width: 25%;
	box-sizing: border-box;
	padding-right: 30px;
}
.footer-top-wrapper>li>a>* {
	vertical-align: middle;
}
.footer-top-wrapper>li>a>span {
	font-size: 18px;
	padding-left: 10px;
	color: #333333;
}
.footer-top-wrapper>li>a>i {
	font-size: 38px;
	color: #CB242B;
}
/* 中间 */
.footer-ctr-wrapper {
	margin: 20px 0 30px 0;
}
.footer-ctr-lft {
	float: left;
	width: 900px;
	border-right: 1px solid #E9E9E9;
}
.footer-ctr-lft>div {
	float: left;
	width: 16.666666%;
}
.footer-ctr-lft>div>p {
	font-size: 15px;
	color: #333333;
	margin-bottom: 10px;
}
.footer-ctr-lft>div>span {
	display: block;
	font-size: 13px;
	color: #777777;
	margin-top: 5px;
}
.footer-ctr-lft>div>span:hover {
	cursor: pointer;
	color: #CB242B;
}
/* 右边 */
.footer-rgt-wrapper {
	width: 299px;
	float: right;
	text-align: center;
}
.footer-rgt-wrapper>h4 {
	font-weight: bold;
	font-size: 24px;
	color: #575757;
	padding-bottom: 5px;
}
.footer-rgt-wrapper>span {
	font-size: 14px;
	color: #575757;
}
.footer .customer {
	width: 150px;
	height: 30px;
	border-radius: 30px;
	background-color: #333333;
	margin: 15px 80px 20px 80px;
}
.footer .customer>* {
	color: white;
	font-size: 14px;
	line-height: 30px;
	padding-left: 10px;
}
.footer .customer>i {
	padding-left: 5px;
}
.footer .footeer-icon>span {
	color: #575757;
	font-size: 15px;
}
.footer .footeer-icon>i {
	font-size: 22px;
	padding: 0 4px;
}
.footer .footeer-icon>i:hover {
	cursor: pointer;
	color: rgba(0,0,0,0.5);
}
.footer .customer:hover {
	cursor: pointer;
	background-color: rgba(0,0,0,0.5);
}
/* 下边 */
.footer-btm-wrapper {
	border-top: 1px solid #E9E9E9;
	padding-top: 20px;
	margin-bottom: 30px;
}
.footer-btm-wrapper>.btm-lft {
	width: 100px;
	float: left;
}
.footer-btm-wrapper>.btm-lft>img {
	width: 100%;
	font-size: 0;
}
.footer-btm-wrapper>.btn-ctr {
	width: 65%;
	display: inline-block;
	margin-left: 20px;
}
.footer-btm-wrapper>.btn-ctr>a {
	display: inline-block;
	text-align: center;
	font-size: 12px;
	color: #777777;
}
.footer-btm-wrapper>.btn-ctr>a>span {
	color: #D3D3D3;
	display: inline-block;
	padding-left: 3px;
}
.footer-btm-wrapper>.btn-btn {
	display: inline-block;
	width: 64%;
	margin-left: 20px;
}
.footer-btm-wrapper>.btn-btn>* {
	font-size: 12px;
	color: #A4A4A4;
}
/* 鼠标滑过 */
.footer-btm-wrapper>.btn-ctr>a:hover {
	color: #CB242B;
}
.footer-btm-wrapper>.btn-btn>a:hover {
	color: #CB242B;
}
/* 右边 */
.footer-btm-wrapper>.btn-rgt {
	float: right;
	width: 10%;
}
.footer-btm-wrapper>.btn-rgt>img {
	width: 70%;
	font-size: 0;
}



